* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.teext h2{
    text-align: center;
    background-color: #3586ff;
    margin-top: 20px;
    
}
.vv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container .box{
position: relative;
width: 320px;
height: 400px;
color: #fff;
background: rgb(23, 33, 37);
display: flex;
justify-content: center;
align-items: center;
margin: 20px 30px;
transition: 0.5s;    
}

.container .box:hover{
    transform: translateY(-20px);
}
.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg , #009dff , #0d75eb);
    filter: blur(30px);
}

.container .box:nth-child(2)::before, 
.container .box:nth-child(2)::after {
background: linear-gradient(315deg , #009dff , #0d75eb);
}

.container .box span
{
position: absolute;
top: 6px;
left:6px ;
right:6px ;
bottom:6px ;
background: rgba(0, 0, 0, 0.6);
z-index: 2;
}

.container .box span::before{
content:'';
position:absolute;
top: 0;
left:0 ;
width: 50%;
height: 100%;
background: rgba(176, 99, 99, 0.1);
pointer-events: none;
}

.container .box .content {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container .box .content h2 {
    font-size: 2em;
    color:#fff;
    margin-bottom: 10px;
}
.container .box .content p {
    font-size: 1.1em;
    color:#fff;
    padding: 10px;
    margin: 10px;
    line-height: 1.4em;
}

.container .box .content bb {
    display: inline-block;
    font-size: 1.1em;
    color:#111;
    background: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}
.text-centeer h3 {
    font-size: 80px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 25px;
    color: #3586ff;
 
}

body
{
direction: rtl;
text-align: right;
font-family: 'Montserrat', sans-serif;
}